.accidental {
    background-color: rgba(0, 0, 0, 0);
    &:hover {
        background-color: black;
        color: white;
    }
    &-pressed {
        background-color: black;
        color: white;
    }
}