@import './scales.scss';
@import './mode.scss';
@import './key.scss';
@import './accidental.scss';

.theory {
    display: grid;
    grid-template-rows: 5vh 10vh 5vh 5vh 40vh 10vh;
    &-carousel {
        @extend %title-block;
        height: 100%;
        grid-row-start: 6;
    }
}