.key-title {
  background-color: black;
  color: #fdfcf4; }

.key-title {
  display: flex;
  justify-content: center;
  align-items: center; }

.key-button, .key-button-pressed {
  background-color: white;
  color: black;
  border-color: black;
  border-style: solid;
  border-radius: 0.5vw; }

.key {
  grid-row-start: 5;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 10% 80% 10%; }
  .key-buttons {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: repeat(7, 11.78571%);
    grid-template-rows: 30% 50% 20%;
    grid-column-gap: 2.5%; }
  .key-button {
    grid-row-start: 2;
    grid-row-end: 3; }
    .key-button-pressed {
      border-color: #00aeae;
      grid-row-start: 2;
      grid-row-end: 3; }
    .key-button:hover {
      border-color: #00aeae; }
  .key-accidental-buttons {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%; }
  .key-accidental-button {
    background-color: rgba(0, 0, 0, 0);
    border-style: none; }
    .key-accidental-button-pressed {
      background-color: black;
      color: white;
      border-style: none; }
    .key-accidental-button:hover {
      background-color: black;
      color: white; }
  .key-title {
    grid-row-start: 4;
    text-align: center;
    width: 25vw;
    margin: 0 auto; }
