@import '../../mixins';

%key-scss {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 4vw;
    width: 4vw;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 0.5vw;
}

.key {
    @extend %key-scss;
    &:hover {
        border-color: $off-color;
    }
    &-pressed {
        @extend %key-scss;
        border-color: $off-color;
    }
    &-title {
        @extend %title-block;
        @include dimensions(30vw,6vh,1vh);
        margin: 0 auto;
        text-align: center;
    }
}
