.key-title {
  background-color: black;
  color: #fdfcf4; }

.key, .key-pressed {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 4vw;
  width: 4vw;
  background-color: white;
  color: black;
  border-color: black;
  border-style: solid;
  border-radius: 0.5vw; }

.key:hover {
  border-color: #00aeae; }

.key-pressed {
  border-color: #00aeae; }

.key-title {
  width: 30vw;
  height: 6vh;
  padding: 1vh;
  margin: 0 auto;
  text-align: center; }
