@import '../../mixins';

.mode {
    margin: 0 auto;
    margin-top: 10vh;
    @extend %title-block;
    @include dimensions(80vw,10vh,3vh);
    &-select {
        width: 20vw;
        text-align: center;
    }
}