.mode {
  background-color: black;
  color: #fdfcf4; }

.mode {
  margin: 0 auto;
  margin-top: 10vh;
  width: 80vw;
  height: 10vh;
  padding: 3vh; }
  .mode-select {
    width: 20vw;
    text-align: center; }
