@import '../../mixins';

.mode {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 20% 60% 20%;
    margin: 0 auto;
    @extend %title-block;
    width: 40vw;
    &-text{
        grid-area: 2 / 1 / 3 / 2;
        @extend %center-child;
    }
    &-select {
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
        text-align-last: center;
        height: 80%;
        @extend %center-child;
    }
}