.scales {
  color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100vw; }
  .scales-note {
    width: 10vw;
    margin: 2.5vh 0; }
