.scales {
  background-color: black;
  color: #fdfcf4; }

.scales {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 90vw; }
  .scales-note {
    width: 10vw;
    margin: 2.5vh 0; }
