@import '../../mixins';

.scales {
    margin: 0 auto;
    @extend %title-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 90vw;
    &-note {
        width: 80vw * (1/8);
        margin: 2.5vh 0;
    }
}