@import '../../mixins';

.scales {
    @extend %title-block;
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(8, percentage(1/8));
    text-align: center;
    // width: 90vw;
    height: 10vh;
    &-note {
        @extend %center-child;
    }
}