.scales {
  background-color: black;
  color: #fdfcf4; }

.scales-note {
  display: flex;
  justify-content: center;
  align-items: center; }

.scales {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(8, 12.5%);
  text-align: center;
  height: 10vh; }
