%title-block {
    background-color: black;
    color: rgb(253, 252, 244);
}

%center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dimensions($width,$height,$padding){
    width: $width;
    height: $height;
    padding: $padding;
}

$off-color: rgb(0, 174, 174);