@import './scssFiles/theory/index.css';
@import './scssFiles/script/index.css';
@import './navbar.css';

body {
    background-color: rgb(253, 250, 218);
    font-family: sans-serif;
    text-align: center;
}

.site {
    display: grid;
    grid-template-rows: 15vh 1fr;
    width: 100vw;
}