.navbar {
    background-color: rgb(0, 0, 0);
    height: 10vh;
    &-text {
        width: 100vw;
        text-align: center;
        &-link {
            color: white;
            &:hover {
                color: white;
            }
        }
    }
}