@import './mixins';

.navbar {
    background-color: rgb(0, 0, 0);
    height: 10vh;
    &-text {
        width: 100vw;
        text-align: center;
        &-link {
            color: rgb(250, 248, 226);
            &:hover {
                color: $off-color;
                text-decoration: none;
            }
        }
    }
}