.navbar {
  background-color: black;
  height: 10vh; }
  .navbar-text {
    width: 100vw;
    text-align: center; }
    .navbar-text-link {
      color: #faf8e2; }
      .navbar-text-link:hover {
        color: #00aeae;
        text-decoration: none; }
