.navbar {
  background-color: black;
  height: 10vh; }
  .navbar-text {
    width: 100vw;
    text-align: center; }
    .navbar-text-link {
      color: white; }
      .navbar-text-link:hover {
        color: white; }
