@import '../../mixins';


.functions {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}

.function {
    display: grid;

    &-name {
        @extend %title-block;
    }
    &-description {

    }
    &-string {
        
    }
}