@import '../../mixins';

.function {
    margin-left: 3vw;
    &-name {
        display: inline-block;
        @extend %title-block;
        text-align: center;
        padding: 1.5vh;
    }
    &-description {

    }
    &-string {
        
    }
}