@import './function.scss';
@import '../../mixins';

.script {
    display: grid;
    height: 100%;
    grid-template-rows: 5vh 8vh 5vh 1fr;
    grid-template-columns: 10vw 10vw 58vw 10vw 10vw;
    width: 100%;
    &-language {
        grid-row-start: 2;
        grid-column-start: 3;
        @extend %title-block;
        @extend %center-child;
    }
}