@import './function.scss';
@import '../../mixins';

.script {
    height: 100%;
    &-language {
        @extend %title-block;
        margin: 2vh;
        display: inline-block;
        text-align: center;
        padding: 1.5vh;
    }
}