.function-name, .script-language {
  background-color: black;
  color: #fdfcf4; }

.function {
  margin-left: 3vw; }
  .function-name {
    display: inline-block;
    text-align: center;
    padding: 1.5vh; }

.function-name, .script-language {
  background-color: black;
  color: #fdfcf4; }

.script {
  height: 100%; }
  .script-language {
    margin: 2vh;
    display: inline-block;
    text-align: center;
    padding: 1.5vh; }
