.function-name, .script-language {
  background-color: black;
  color: #fdfcf4; }

.script-language {
  display: flex;
  justify-content: center;
  align-items: center; }

.functions {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 5; }

.function-name, .script-language {
  background-color: black;
  color: #fdfcf4; }

.script-language {
  display: flex;
  justify-content: center;
  align-items: center; }

.script {
  display: grid;
  grid-template-rows: 5vh 8vh 5vh 1fr;
  grid-template-columns: 10% 10% 60% 10% 10%; }
  .script-language {
    grid-row-start: 2;
    grid-column-start: 3; }
